
/* .landing-toplevel{
    flex-direction: column;
} */
@media screen and (min-width : 760px){
  .usecase-mobile{
      display:none;
  }
}

  @media screen and (max-width : 760px){
    .usecase-desktop{
        display:none;
    }
    .gettingstarted-button{
      margin-bottom:2.5%;
    }
    /* .landing-toplevel{
        display:flex;
        flex-direction: column;
    } */
  }

  
  .slick-slide {
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
  }

  .slick-slide .wrap {
    width:90%;
    border: 5px solid #fff;
    border-radius: 20px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.2), 1px 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: block;
    padding-right: 5%;
  }

  .slick-slide .col{
      text-align:center;
  }

  .slick-slider {
    margin: auto auto auto;
    width: 60%;
  }
  .slick-dots {
    margin-left: 0;
  }


  @media (max-width: 768px) {
    h3 {
      font-size: 24px;
    }
    .center {
      margin-left: 0;
      margin-right: 0;
    }
    .center .slick-center h3 {
      color: #e67e22;
      opacity: 1;
      transform: scale(1);
    }
    .center h3 {
      opacity: 0.8;
      transform: scale(0.95);
      transition: all 300ms ease;
    }
  }

  .slick-arrow {  }

  .slick-prev:after {
    content: "<"; 
    color: #5C626C;
    font-size: 30px;
  }
  
  .slick-next:before {
    content: ">";
    color: #5C626C;
    font-size: 30px;
  }
  