@media screen and (max-width : 769px){
    .bio-container{
        margin-top:10%;
        flex-direction: column;
        text-align: center;
    }
    .bio-name{
        margin-bottom:5%;
        width:100%;
    }
    .bio-pic{
        margin-bottom:5%;

        width:100%;
    }
    .bio-bio{
        margin-bottom:10%;

        width:100%;
    }
    
    .team-joincommunity-button{
        margin-top:3%;
        margin-left:10% !important;
        width: 80% !important;
        float:left;
    }
    .team-cta{
        flex-direction:column;
    }
    .team-cta-buttons{
        margin:auto;
    }
}
@media screen and (min-width : 769px){
    .bio-container{
        margin-top:3%;
        flex-direction:row;
        flex-wrap:wrap;
    }
    .bio-name{
        width: 20%;
        margin-left:3%;
        margin-bottom:3%;
    }
    .bio-pic{
        width: 10%;
        margin-left:15%;
        margin-top:-1%;
        margin-bottom:3%;
    }
    .bio-bio{
        width:40%;
        margin-left:-5%;
        margin-right:10%;
        margin-bottom:3%;
    }
    .team-cta{
        flex-direction:column;
    }

}

.team-readdocs-button{
    color:#fff;
    background-color:inherit;
    border:1px solid #fca311;
    border-radius:4px;
    font-weight:lighter;
    font-family: 'proxima-nova',sans-serif;
    padding:1% 2% 1% 2%;
    
  }
  .team-readdocs-button:hover{
    box-shadow:none;
    box-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, .5);
    
  }
  .team-joincommunity-button{
     margin-left: 1%;
     background-image:linear-gradient(to right, #fca311 , #FCD116);
     border-radius:4px;
     color:#fff;
     font-weight:lighter;
    padding: 1% 2% 1% 2%;
  }
  .team-joincommunity-button:hover{
    /* box-shadow: none; */
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
  }