@media screen and (max-width : 760px){
    .viable-text{
        flex-direction: column;
        left:0;
        margin-left:-10%;
    }
    .viable-block{
        width:100%;
    }
    .divider{
        display:none;
    }
}
@media screen and (min-width : 760px){
    .viable-text{
        flex-direction:row;
        left:0;
        margin-left:-10%;
    }
    .viable-block{
        width:20%;
        margin-top:5%;
    }
    .divider{
        margin:0 2% 0 2%;
    }
    .divider:after{
        border-left:thin solid #0F1012;
    }
}